.pages-container {
    position: relative;
    background: rgba(black, 0.35);

    .page-container {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        opacity: 0.4;

        max-width: 100%;

        &.main {
            opacity: 1;
        }

        .page-image {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.page-nav-button {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 30px;
    opacity: 0;
    z-index: 20;

    transition: opacity 0.25s ease;

    &:hover {
        opacity: 1;
    }

    &.previous {
        left: 0;
        width: 20%;

        background: linear-gradient(to right, rgba(black, 0.8), transparent);
    }
    &.next {
        right: 0;
        width: 40%;

        background: linear-gradient(to left, rgba(black, 0.8), transparent);
    }
}