//noinspection CssUnknownTarget
@import "~root/styles/meta";

.ReaderControlsComponent {
    background: rgba(black, 0.5) !important;
    box-shadow: black 0 40px 80px;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    z-index: 200;

    .btn {
        background-color: transparent;

        &:not(:hover) {
            border-color: transparent;
        }
    }
}