.ReaderControlsComponent {
    .reader-controls {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        background: rgba(black, 0.8) !important;

        .btn {
            background-color: transparent;

            &:not(:hover) {
                border-color: transparent;
            }
        }
    }
}