.reader-controls {
    background: rgba(black, 0.8) !important;
    left: 0;
    right: 0;

    .reader-controls-layout {
        width: 100%;
    }

    .btn {
        max-width: none;

        &:not(.btn--block) {
            width: auto;
        }
    }
}