// Effect Mixins
@mixin text-antialias()
{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-shadow: $text-shadow;
}

@mixin transitions($prop:all, $duration:0.15s)
{
    transition: $prop $duration ease;
}

@mixin shadowfy($transp: 0.5, $blur: 5px)
{
    box-shadow: transparentize($gray-base, $transp) 0 0 $blur;
}

// Style Mixins
@mixin border-all-radius($radius)
{
    border-radius: $radius;
}