@require "~vuetify/src/stylus/settings/_colors.styl";

/* Theme variables */
$theme = {
    primary: hsl(214, 42%, 42%),
    accent: hsl(160, 45%, 55%),
    secondary: $grey.lighten-5,
    info: $blue.base,
    warning: $amber.base,
    error: $red.base,
    success: $green.base
}

$body-font-family = 'Athiti', sans-serif;