/* Theme variables */
$primary: hsl(206, 80%, 30%);
$secondary: hsl(185, 72%, 41%);

$light: desaturate(lighten($primary, 10%), 60%);
$dark: desaturate(darken($primary, 10%), 60%);

/* Body */
$body-bg: desaturate(darken($primary, 22%), 30%);
$body-color: white;

/* Buttons */
$btn-padding-x: 20px;

/* Borders */
$hr-border-color: rgba(white, 0.1);
$hr-border-width: 1px;

/* Typography */
$font-weight-base: 400;

$font-size-base: 1.1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);

/* Grid */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1540px
);