//noinspection CssUnknownTarget
@import "~root/styles/meta";

.ReaderPagesComponent {
    height: 100%;

    .pagesContainer {
        height: 100%;

        .pageContent {
            height: 100%;

            .pageImage {
                max-height: 100%;
            }
        }
    }

    .pageNavButtons {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .page-nav-button {
            height: 100%;
            padding: 60px;

            cursor: pointer;
            border: none;
            outline: none;

            opacity: 0;
            @include transition(opacity);

            &:hover {
                opacity: 1;
            }

            &.previous {
                background: linear-gradient(to left, transparent, rgba(black, 0.5));
            }

            &.next {
                background: linear-gradient(to right, transparent, rgba(black, 0.5));
            }
        }
    }
}