//noinspection CssUnknownTarget
@import "~root/styles/meta";

.ReaderPagesComponent {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 70px;

    .pages-container {
        height: 100%;

        .page-container {
            height: 100%;

            opacity: 0.4;
            transform: scale(0.9);

            > .row {
                height: 100%;
            }

            &.main {
                opacity: 1;
                transform: scale(1);
            }

            .page-content {
                .page-image {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }

    .page-nav-buttons {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;

        > .row {
            height: 100%;
        }

        .page-nav-button {
            height: 100%;
            padding: 60px;

            background: transparent;
            cursor: pointer;
            border: none;
            outline: none;

            opacity: 0.15;

            &:hover {
                opacity: 1;
            }
        }
    }
}