//noinspection CssUnknownTarget
@import "~root/styles/meta";

.FooterNavComponent {
    margin-top: 60px;
    padding: 15px;

    background: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.5));

    font-size: 14px;

    .col-auto + .col-auto {
        border-left: 1px solid rgba(white, 0.25);
    }

    a {
        color: white;
        text-decoration: none;
        transition: 0.25s ease color;

        &:hover {
            color: $secondary;
        }
    }
}