.brand-link {
    text-decoration: none;

    .brand-logo,
    .toolbar__title {
        display: inline-block;
        margin: 0;
    }

    .brand-logo {
        width: 48px;
        height: @width;

        vertical-align: bottom;
    }
}