@require "../styles/_variables.scss";

#router-container {
    padding: 0;
    padding-top: $navbar-small-height;

    @media screen and (min-width: $grid-breakpoints.md) {
        padding-top: $navbar-normal-height;
    }
}
