@require "../styles/theme/variables.styl";

.application {
    background: desaturate(darken($theme.primary, 70%), 10%);
}

#router-container {
    padding-top: 80px;

    .page-container {
        padding: 0 30px 30px;
    }
}

