//noinspection CssUnknownTarget
@import "~root/styles/meta";

#router-container {
    padding: 0;
    padding-top: $navbar-small-height;

    @include breakpoint(md) {
        padding-top: $navbar-normal-height;
    }
}
