<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title v-bind="pageTitle"></title>
    </head>
    <body>
        <%= JSON.stringify(webpackConfig) %>

        <div id="vue-entry">
            <router-view></router-view>
        </div>
        <script type="text/javascript" src=""></script>
    </body>
</html>