@require "~vuetify/src/stylus/settings/_colors.styl";

/* Theme variables */
$theme = {
    primary: hsl(206, 80%, 20%),
    accent: hsl(184, 60%, 36%),
    secondary: $grey.lighten-5,
    info: $blue.base,
    warning: $amber.base,
    error: $red.base,
    success: $green.base
}

/* Theme variables */
$material-theme = $material-dark = {
  status-bar: {
    regular: #000000,
    lights-out: rgba(#000, .2)
  },
  app-bar: #212121,
  background: desaturate(darken($theme.primary, 70%), 10%),
  cards: rgba(white, 0.15),
  chips: {
    background: #FFF,
    color: $theme.primary
  },
  dividers: rgba(#fff, .12),
  text: {
    theme: #fff,
    primary: #fff,
    secondary: rgba(#fff, .70),
    disabled: rgba(#fff, .50),
    link: $blue.accent-1,
    link-hover: $grey.lighten-3
  },
  icons: {
    active: #fff,
    inactive: rgba(#fff, .5)
  },
  buttons: {
    disabled: rgba(#fff, .3),
    focused: rgba(#fff, .12),
    focused-alt: rgba(#fff, .1),
    pressed: rgba(#ccc, .25)
  },
  expansion-panels: {
    focus: rgba(#000, .70)
  },
  selection-controls: {
    active: $teal.lighten-3,
    thumb: {
      inactive: $grey.lighten-1,
      disabled: $grey.darken-3
    },
    track: {
      inactive: rgba(#fff, .3),
      disabled: rgba(#fff, .1)
    }
  },
  slider: {
    active: rgba(#fff, .3),
    inactive: rgba(#fff, .2),
    disabled: rgba(#fff, .2),
    discrete: #fff
  },
  tabs: {
    active: #fff,
    inactive: rgba(#fff, .7)
  },
  input-bottom-line: rgba(#fff, .7),

  stepper: {
    active: rgba(#fff, 1),
    completed: rgba(#fff, 0.87),
    hover: rgba(#fff, 0.75)
  },
  table: {
    active: $grey.darken-1
    hover: $grey.darken-2
  },
  picker: {
    body: #424242,
    clock: $grey.darken-2,
    title: $grey.darken-2
  },
  bg-color: $backgroundBase,
  fg-color: #fff,
  text-color: #fff,
  primary-text-percent: 1,
  secondary-text-percent: .70,
  disabledORhints-text-percent: .50,
  divider-percent: .12,
  active-icon-percent: 1,
  inactive-icon-percent: .50
};

/* Typography */
$font-size-root = 16px;
$body-font-family = 'Athiti', sans-serif;

/* Heading definitions */
$headings = {
  h1: { size: 64px, weight: 300, line-height: 1, letter-spacing: -.04em },
  h2: { size: 52px, weight: 400, line-height: 1.35, letter-spacing: -.02em },
  h3: { size: 44px, weight: 400, line-height: 48px, letter-spacing: normal },
  h4: { size: 32px, weight: 400, line-height: 40px, letter-spacing: normal },
  h5: { size: 24px, weight: 400, line-height: 32px, letter-spacing: normal },
  h6: { size: 20px, weight: 500, line-height: 1, letter-spacing: .02em },
  subheading: { size: 18px, weight: 400 },
  body-2: { size: 16px, weight: 500 },
  body-1: { size: 16px, weight: 400 },
  caption: { size: 14px, weight: 400 },
  button: { size: 16px, weight: 500 }
}

/* Navbar */
$navbar-small-height = 56px;
$navbar-normal-height = 64px;

@require "~vuetify/src/stylus/settings/_variables.styl";