@require "~vuetify/src/stylus/settings/_colors.styl";

/* Theme variables */
$theme = {
    primary: hsl(206, 80%, 22%),
    accent: hsl(190, 48%, 38%),
    secondary: $grey.lighten-5,
    info: $blue.base,
    warning: $amber.base,
    error: $red.base,
    success: $green.base
}

$body-font-family = 'Athiti', sans-serif;